<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="dash_cmp" class="cnt_a-4">

        <div id="time_root_cnt" class="stat_1-4">
            <div class="date-4">
                <img class="date_ic-4" src="https://img.icons8.com/?size=100&id=23&format=png&color=000000"
                    alt="date" />
                <span><strong id="currentSecTime">Tue 15 Apr, 2026</strong></span>
            </div>
            <div id="sort_btn"  class="sort-4">
                <img class="sort_ic-4" src="https://img.icons8.com/?size=100&id=Kb1HCEjwwuSZ&format=png&color=000000"
                    alt="filter" />
                <span>Sort</span>
            </div>
        </div>

        <!--The scrollable cnt-->
        <div id="file_cnt" class="file_cnt-4">

            <div id="file_1" class="group_time-4">
                <span id="sec_date" class="sec_date-4">Wed 8 Apr 2025</span>

                <div id="files_1" class="file_sub_cnt-4">
                    <div class="file_name-4">

                        <img class="file_type_ic-4"
                            src="https://img.icons8.com/?size=100&id=117561&format=png&color=000000" alt="ms_excel" />

                        <span id="file_name">suplementry.xlsp</span>

                    </div>
                    
                    <div class="time-4">
                        <span>20:19</span>
                        <button class="download_btn-4">
                            <img class="download_ic" src="https://img.icons8.com/?size=100&id=83159&format=png&color=FFFFFF" alt="download" />
                            <span>Download</span>
                        </button>
                    </div>
                     
                </div>
            </div>

        </div>

    </div>
</body>

</html>