<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="dash_cmp" class="cnt_a-4">
       <div class="stat_1-4">
            <div class="stat_crd">
                <div class="a_1-4">
                    <div>
                        <img />
                        <h3>Enrolled Courses</h3>
                    </div>
                    <div>
                        <div class="dot"></div>
                        <span>Active</span>
                    </div>
                </div>
            </div>
            <div class="stat_crd">
                <div class="a_1-4"></div>
            </div>
            <div class="stat_crd">
                <div class="a_1-4"></div>
            </div>
            <div class="stat_crd">
                <div class="a_1-4"></div>
            </div>
       </div>

    </div>
</body>
</html>